<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Pianinous</title>
<meta name="description" content="
	Virtual piano - with multiplayer.
	Play just for fun on your touch screen, try to cooperate with your fiends, or connect your real piano via MIDI and share your skill with others." />
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎹</text></svg>">
<!-- <script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script> -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-tippy@4/dist/vue-tippy.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css">
<link rel="stylesheet" href="/css/main.css" />
<script type="module" src="js/main.js"></script>
</head>
<body id="app">
	<div class="background">
		<div class="smoke"></div>
		<div class="smoke"></div>
		<div class="smoke"></div>
		<div class="smoke"></div>
		<div class="smoke"></div>
		<div class="smoke"></div>
		<div class="smoke"></div>
		<div class="smoke"></div>
	</div>
	<div class="buttons">
		<div>
			<button id="midi" title="MIDI in">
				<span class="mdi mdi-midi"></span>
			</button>
			<label for="instrument" id="instrument-label" title="output voice">
				<span id="out-icon" class="mdi mdi-dots-horizontal"></span>
				<select name="instrument" id="instrument" hidden>
					<option value="piano"> piano</option>
					<option value="polySynth" class="mid mid-waveform"> synth</option>
					<option value="midiout" hidden>MIDI out</option>
					<option value="none" selected hidden>...</option>
					<!-- <option value="AMSynth">AM synth</option>
					<option value="FMSynth">FM synt</option> -->
				</select>
			</label>
			<label id="volume-label" title="volume">
				<span id="volume-icon" class="mdi mdi-volume-high"></span>
				<input id="volume" type="range" min="-40" value="0" max="0" step="2.5" />
			</label>
		</div>
		<div>
			<div class="staffs">
				<div class="staff treble" hidden>
					<span><i>𝄞</i>𝄚𝄚𝄚𝄚𝄚𝄚𝄚𝄚𝄚</span>
					<span>𝅗</span>
				</div>
				<div class="staff bass" hidden>
					<span><i>𝄢</i>𝄚𝄚𝄚𝄚𝄚𝄚𝄚𝄚𝄚</span>
					<span>𝅗</span>
				</div>
			</div>
		</div>
		<div>
			<button id="toggle-score"  title="toggle staff" >
				<span class="mdi mdi-music-clef-treble"></span>
			</button>
			<button id="toggle-qwerty" hidden  title="toggle kayboard mapping">
				<span class="mdi mdi-keyboard-outline"></span>
			</button>
			<button id="toggle-labels"  title="toggle note labels">
				<span class="mdi mdi-label-outline"></span>
			</button>
			<button id="toggle-cinema"  title="cinema mode">
				<span class="mdi mdi-television-clean"></span>
			</button>
		</div>
	</div>
	<div class="keyboard letters">
		<div class="pianoroll"></div>
		<div class="top-keys"></div>
		<div class="bottom-keys"></div>
		<div class="hint" hidden>
			<button data-note="C">A</button>
			<button data-note="C#">W</button>
			<button data-note="D">S</button>
			<button data-note="D#">E</button>
			<button data-note="E">D</button>
			<button data-note="F">F</button>
			<button data-note="F#">T</button>
			<button data-note="G">G</button>
			<button data-note="G#">Y</button>
			<button data-note="A">H</button>
			<button data-note="A#">U</button>
			<button data-note="B">J</button>
			<button data-note="C">K</button>
			<button data-note="C#">O</button>
			<button data-note="D">L</button>
			<button data-note="D#">P</button>
			<button data-note="E">;</button>
			<button data-note="F">'</button>
		</div>
	</div>
	<div class="buttons">
		<div id="networking-app" v-cloak>
			<button :content="isOnline ? 'connected' : 'disconnected'" v-tippy>
				<span v-if="isOnline" class="mdi mdi-check-network"></span>
				<span v-if="!isOnline" class="mdi mdi-close-network"></span>
			</button>
			<label v-if="Object.values(users).length > 0" content="co-pianists" v-tippy>
				<span v-for="u in Object.values(users)" class="mdi mdi-account-network"></span>
			</label>
		</div>
		<div class="footer">
			<b></b>	
		</div>
		<div>
			<button id="go-down" title="shift left"><span class="mdi mdi-chevron-left"></span></button>
			<button id="go-mid" title="shift to middle"><span class="mdi mdi-chevron-up"></span></button>
			<button id="go-up" title="shift right"><span class="mdi mdi-chevron-right"></span></button>
		</div>
		<div class="footer">
			<b></b>	
		</div>
		<div id="recorder-app" v-cloak>
			<button title="record" disabled>
				<span v-if="!isRecording" class="mdi mdi-record-circle-outline"></span>
				<span v-if="isRecording" class="mdi mdi-stop-circle-outline"></span>
			</button>
			<button title="replay" disabled>
				<span v-if="!isPlaying" class="mdi mdi-play-circle-outline"></span>
				<span v-if="isPlaying" class="mdi mdi-pause-circle-outline"></span>
			</button>
		</div>
	</div>
	<div class="cinema-bar">
		<button id="fullscreen" class="mdi mdi-fullscreen" title="toggle fullscreen" data-placement="bottom"></button>
		<button id="cinema-off" class="mdi mdi-close" title="close cinema mode" data-placement="bottom"></button>
	</div>
</body>
</html>
